* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  display: flex;

  .itemList {
    text-decoration: none;
    list-style: none;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    gap: 8px;
    flex-direction: row;
    font-family: monospace;

    li {
      font-size: 2vh;
      display: flex;
      justify-content: space-between;

      a {
        text-decoration: none;
        color: black;
      }
    }
  }

  .itemList li a:hover {
    /* background-color: #04ace0; */
    opacity: 0.8;
    text-decoration: underline;
  }

}

.header {
  display: flex;
  width: 50%;
  height: 100%;
  align-items: center;
  margin: 0 auto;
  box-shadow: 12px 12px 25px 1px #04ace0;
  border-radius: 15px;
  position: relative;
  top: 12px;

  .logo {
    width: 20%;
    opacity: 0.8;
  }

  #logotipo {
    width: 100%;
    height: 100%;
    padding: 3px;
  }

  .menutitle {
    width: 80%;
    height: auto;
    display: flex;
    justify-items: center;
    align-items: center;

    #textTitle {
      display: flex;
      justify-content: space-evenly;
      list-style: none;
      height: inherit;
      font-family: 'Poppins', monospace;
      text-transform: capitalize;
      /* agregamos transición para aplicarla al hoover */
      background-color: white;
      
      /* etiqueta a del header */
      a{
        transition: 0.4s;
        font-size: 2.1vh;
        text-decoration: none;
        color: black;
      }

      /* Efecto hoover */
      li a:hover{
        background-color: #04ace0;
        color: #fff;
        padding: 12px 3px;
      }
    }

    .menuHeader{
      width: 100%;

    }
  }
  
}

.content {
  width: 60%;
  display: flex;
  flex-direction: row;
  position: relative;
  top: 50px;
  border-radius: 30px;
  
  .items {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 50%;
    height: 430px;
    gap: 10px;
    position: relative;
    .element{
      width: 100%;
  
      .info{
        display: flex;
        flex-direction: initial;
        width: 100%;
        font-family: monospace;
        justify-content: center;
        text-transform: capitalize;
      }
  
      .form {
        width: 100%;
        display: flex;
        flex-direction: column;
        position: relative;
        gap: 3px;
    
        .form1 {
          display: flex;
          flex-direction: column;
          width: 100%;
          gap: 20px;

          /* input class */
          .item {
            width: 100%;
          }
    
          .grupo1 {
            display: flex;
            flex-direction: row;
            gap: 40px;
            width: 100%;
          }
    
          .grupo2 {
            display: flex;
            flex-direction: row;
            gap: 40px;
          }
    
          .grupo3 {
            display: flex;
            flex-direction: row;
            height: auto;
            justify-content: center;
    
            #btn {
              width: 30%;
              height: 50px;
            }
          }
        }
      }
    }
  }

  .img {
    object-fit: cover;
    width: 100%;

    #pregnant {
      width: 100%;
      height: 100%;
    }
  }

  .result {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: calc(100vh - 820px);
    margin-top: 30px;
    
    .hello{
      /* Le coloque inherit para que herede el tamaño del contendor */
      font-size: inherit;
      text-transform: capitalize;
    }
  }

}

footer {
  width: 100%;
  position: absolute;
  bottom: 0;
  background-color: #04ace0;
  color: white;
  font-size: 2.5vh;
  text-align: center;
  height: auto;
  text-transform: capitalize;
}